# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\S4-insaD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
